version: "3.9"
services:
  hornet-nest:
    image: iotaledger/hornet-nest:2.0-rc
    container_name: hornet-nest
    stop_grace_period: 5m
    networks:
      - wasp-net
    ports:
      - "${HOST:-127.0.0.1}:14265:14265/tcp"
      - "${HOST:-127.0.0.1}:8081:8081/tcp"
      - "${HOST:-127.0.0.1}:8091:8091/tcp"
      - "${HOST:-127.0.0.1}:9029:9029/tcp"
  wasp:
    image: iotaledger/wasp:0.5.0-alpha.6
    container_name: wasp
    stop_grace_period: 5m
    command:
      - "--dashboard.auth.scheme=none"
      - "--webapi.auth.scheme=none"
      - "--inx.address=hornet-nest:9029"
    depends_on:
      - hornet-nest
    restart: on-failure:10
    networks:
      - wasp-net
    ports:
      - "${HOST:-127.0.0.1}:4000:4000/tcp" # Peering
      - "${HOST:-127.0.0.1}:5550:5550/tcp" # Nano MSG
      - "${HOST:-127.0.0.1}:7000:7000/tcp" # Wasp Dashboard
      - "${HOST:-127.0.0.1}:9090:9090/tcp" # Wasp WebAPI
    volumes:
      - wasp-db:/waspdb
  validator:
    build:
      context: ./webapp
    depends_on:
      - wasp
    restart: on-failure:10
    networks:
      - wasp-net
    ports:
      - "${HOST:-127.0.0.1}:80:3000/tcp"
    volumes:
      - validator-wallet:/app/wallet

networks:
  wasp-net: {}

volumes:
  wasp-db:
    name: wasp-db
  validator-wallet:
    name: validator-wallet