<!DOCTYPE html>
<html>
  <head>
    <title>TangleTunes</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/favicon.svg">
  </head>
  <body>
    <main class="container">
      <div align="center">
        <img width="200" src="/static/favicon.svg">
      </div>
      <h1 align="center">TangleTunes</h1>
      <form action="/" onsubmit="login(this); return false;" method="POST">
        <input type="hidden" name="signature" id="signature">
        <input type="hidden" id="nonce" value="<%= nonce %>">
        <button id="submit_button" type="submit">Sign in</button>
      </form>
    </main>
    <main class="container">
      <div class="grid" align="center">
        <div>
          <a href="/static/mobile/tangletunes.apk">
            <img alt="Get it on Google Play" src="/static/mobile/googleplay.webp">
          </a>
        </div>
        <br>
        <div>
          <a href="#">
            <img alt="Download on the App Store" src="/static/mobile/appstore.webp">
          </a>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>