<!DOCTYPE html>
<html>
  <head>
    <title>TangleTunes</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/favicon.svg">
  </head>
  <body onload="refresh_balance()">
    <main class="container">
      <div align="center">
        <img width="200" src="/static/favicon.svg">
      </div>
      <h1 align="center">TangleTunes</h1>
      <form>
        <input id="contract" type="hidden" value="<%= contract %>">
        <label for="username">
          Username
          <input id="username" type="text"></input>
        </label>
        <label for="description">
          Description
          <input id="description" type="text"></input>
        </label>
      </form>
      <button id="register_button" onclick="register()">Register</button>
    </main>

    <main class="container">
      <p align="center" id="balance"></p>
      <button id="request_button" type="button" onclick="request_funds()">Request funds</button>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/web3@1.10.0/dist/web3.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
