<!DOCTYPE html>
<html>
  <head>
    <title>TangleTunes</title>
  </head>
  <body>
    <h1>Welcome <%= username %></h1>
    <h1>Upload a song to TangleTunes</h1>
    <form enctype="multipart/form-data" action="" method="POST">
      <label for="author">Author:</label><br>
      <input id="author" type="text" name="author"><br>
      <label for="name">Name:</label><br>
      <input id="name" type="text" name="name"><br>
      <label for="file">Select file:</label><br>
      <input id="file" type="file" name="file" accept="audio/mpeg"/><br>
      <br>
      <button type="submit">Request</button>
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>