<!DOCTYPE html>
<html>
  <head>
    <title>TangleTunes</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/favicon.svg">

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  </head>
  <body onload="load_containers()">
    <main class="container">
        <input id="contract" type="hidden" value="<%= contract %>">

      <h1 align="center">Select song</h1>
      <select id="songs" onchange="change_song(this.value)">
        <option value="" disabled selected>Select</option>
        <option value="">Songs were not loaded (pls setup MetaMask)</option>
      </select>
    </main>

    <main style="width: 90%; height:75vh;">
      <div class="grid" style="height: 100%;" onmouseleave="unfocus()">
        <div id="osm-map"></div>
        <article id="distributors" style="
                height:100%;
                margin: 0;
                overflow-y: auto;
                ">
        </article>
      </div>
  </main>

  <script src="/static/js/songs.js"></script>
  </body>
</html>