<!DOCTYPE html>
<html>
  <head>
    <title>Validator</title>
  </head>
  <body>
    <h1>Connect to TangleTunes</h1>
    <form>
      <label for="contract">Contract address</label><br>
      <input id="contract" type="text"></input><br>
      <br>
      <button type="button" onclick="connect()">Connect</button>
    </form>
    <br><br>
    <h1>Your user info</h1>
    <div id="user_info">
    </div>
    <br><br>
    <h1>Upload a song to TangleTunes</h1>
    <form>
      <label for="name">Name</label><br>
      <input id="name" type="text"></input><br>
      <label for="price">Price</label><br>
      <input id="price" type="number"></input><br>
      <label for="file">File</label><br>
      <input id="file" type="file" accept=".mp3"></input><br>
      <br>
      <button type="button" onclick="upload()">Upload</button>
    </form>
    <div id="song_info">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/static/js/validator.js"></script>
  </body>
</html>