<!DOCTYPE html>
<html>
  <head>
    <title>Validator</title>
  </head>
  <body>
    <h1>Welcome <%= username %></h1>
    <h1>Upload a song to TangleTunes</h1>
    <form>
      <input id="contract" type="hidden" value="<%= contract %>">
      <label for="author">Author</label><br>
      <input id="author" type="text"></input><br>
      <label for="name">Name</label><br>
      <input id="name" type="text"></input><br>
      <label for="price">Price</label><br>
      <input id="price" type="number"></input><br>
      <label for="file">File</label><br>
      <input id="file" type="file" accept=".mp3"></input><br>
      <br>
      <button type="button" onclick="upload()">Upload</button>
    </form>
    <div id="song_info">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>